<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:component-scan base-package="com.sam.rest" />
       <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
              <property name="dataSource" ref="practiceDataSource"/>
              <property name="configLocation" value="classpath:hibernate-product.cfg.xml"/>
              <property name="hibernateProperties" ref="hibernateProperties"/>
       </bean>

       <bean id="practiceDataSource" parent="parentDataSource">
              <property name="jdbcUrl" value="jdbc:mysql://localhost/practice?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf-8"/>
              <property name="username" value="cloud"/>
              <property name="password" value="scape"/>
       </bean>

       <bean id="parentDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close" abstract="true">
              <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
              <property name="dataSourceProperties">
                     <value>
                            cachePrepStmts=true
                            prepStmtCacheSize=250
                            prepStmtCacheSqlLimit=2048
                            useServerPrepStmts=false
                     </value>
              </property>
              <property name="maximumPoolSize" value="50"/>
       </bean>

       <util:properties id="hibernateProperties" >
              <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
              <prop key="hibernate.query.substitutions">true 'Y', false 'N'</prop>
              <prop key="hibernate.cache.use_second_level_cache">true</prop>
              <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
              <prop key="hibernate.validator.apply_to_ddl">false</prop>
              <prop key="hibernate.connection.isolation">2</prop>
              <prop key="hibernate.show_sql">false</prop>
              <prop key="hibernate.connection.autocommit">true</prop>
              <prop key="hibernate.id.new_generator_mappings">false</prop>
       </util:properties>

       <!---DAO mapping -->
       <bean id="personDao" class="com.sam.dao.PersonDaoImpl"/>

       <bean id="personService" class="com.sam.service.PersonServiceImpl"/>

       <bean id="configUtil" class="com.sam.ConfigUtil" init-method="readProperties">
              <constructor-arg type = "java.lang.String" value = "ps-config.properties"/>
       </bean>

</beans>
